body {
    margin: 0;
}

/* Контейнер для содержимого страницы */
.page_content {
    width: 75%;
    margin: auto;
}

/* Заголовок страницы*/
.page_label {
    font-size: 2em;
    font-weight: bold;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

/* Стиль иконки загрузки */
.el-loading-mask .path {
    stroke: #FFD04B !important;
}

.el-loading-mask .el-loading-text {
    color: #FFD04B !important;
}

/* Строка таблицы с классом pointer */
.el-table .pointer {
    cursor: pointer;
}